.pricer {
	@include vars.flexer(center, center, column);
	background: white;
	width: 70%;
	max-width: vars.rem(650);
	min-width: vars.rem(350);
	margin: vars.rem(65) 0;
	padding: vars.rem(40) vars.rem(30);
	border-radius: vars.rem(8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

	& > * {
		width: 100%;
	}

	& > div:first-child {
		@include vars.flexer(center, center, row);
		flex-wrap: wrap;

		.pricer_title {
			width: 100%;
			color: vars.$grayish-blue;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: vars.rem(2);
		}

		input[type='range'] {
			width: 100%;
			height: vars.rem(5);
			// appearance: none;
			border-radius: vars.rem(20);
			background: vars.$light-grayisher-blue;
			cursor: pointer;
			margin-bottom: vars.rem(40);

			@include vars.media(phone-wide, max) {
				order: 2;
			}

			&::-moz-range-progress {
				background: vars.$strong-cyan;
				height: 100%;
				border-radius: inherit;
			}

			&::-moz-range-thumb {
				position: relative;
				border: none;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background: vars.$strong-cyan url('../images/icon-slider.svg');
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
		*:not(input, span) {
			width: 50%;
			// background: green;
			margin-bottom: vars.rem(30);
			text-align: center;
		}
		.price {
			@include vars.media(phablet, max) {
				display: block;
				order: 3;
				width: 100%;
			}
			@include vars.flexer(center, center);

			span:first-child {
				font-size: vars.rem(30);
				font-weight: 800;
			}
			span:last-child {
				color: vars.$grayish-blue;
			}
		}
	}
	.range {
		width: 79%;
		@include vars.flexer(center, center);
		position: relative;

		&::after {
			content: '-25% Discount';
			@include vars.media(phablet, max) {
				content: '-25%';
				right: 0;
			}
			position: absolute;
			right: 20%;
			width: fit-content;
			padding: 0 vars.rem(10);
			height: vars.rem(30);
			font-size: vars.rem(12);
			border-radius: vars.rem(35);
			background: #feeae9;
			color: vars.$light-red;
			@include vars.flexer(center, center);
			transform: translateX(110%);
		}

		span {
			@include vars.media(phablet, max) {
				font-size: vars.rem(12);
			}
			color: vars.$grayish-blue;
		}

		label {
			display: block;
			width: vars.rem(50);
			height: vars.rem(25);
			border-radius: vars.rem(40);
			background: vars.$light-grayisher-blue;
			position: relative;
			cursor: pointer;
			margin: 0 vars.rem(10);

			&::after {
				content: '';
				position: absolute;
				width: vars.rem(18);
				border-radius: 50%;
				top: 50%;
				left: vars.rem(15);
				transform: translate(-50%, -50%);
				aspect-ratio: 1 / 1;
				background: white;
				transition: 0.5s;
			}
		}
		input {
			display: none;
		}
		input:checked ~ label::after {
			left: calc(100% - vars.rem(15));
		}
	}

	hr {
		margin: vars.rem(50) 0;
		color: vars.$light-grayisher-blue;
	}

	.specs {
		@include vars.flexer(center, space-between, row);
		@include vars.media(phablet, max) {
			justify-content: center;
			flex-direction: column;
		}
		// flex-wrap: wrap;

		ul {
			li {
				@include vars.media(phablet, max) {
					text-align: center;
				}
				margin-bottom: vars.rem(10);
				color: vars.$grayish-blue;

				.check {
					height: vars.rem(12);
					width: vars.rem(12);
					margin-right: vars.rem(10);
					display: inline-block;
					background: url('../images/icon-check.svg') center center/contain no-repeat;
				}
			}
		}

		button {
			padding: vars.rem(15) vars.rem(50);
			border-radius: vars.rem(90);
			cursor: pointer;
			color: vars.$pale-blue;
			background: vars.$dark-desaturated-blue;
			border: none;
			font-size: vars.rem(14);

			@include vars.media(phablet, max) {
				margin-top: vars.rem(50);
			}
		}
	}
}
