.title {
	background: url('../images/pattern-circles.svg') center center/contain no-repeat;
	@include vars.flexer(center, space-evenly, column);
	width: 90%;
	min-width: vars.rem(340);
	margin: vars.rem(65) auto;
	height: vars.rem(120);
	// background: red;
	text-align: center;

	&_main {
		font-size: vars.rem(35);

		@include vars.media(phone-wide, max) {
			font-size: vars.rem(22);
		}
	}

	&_content {
		width: 65%;
		color: vars.$grayish-blue;
		font-size: vars.rem(18);
		@include vars.media(phone-wide, max) {
			font-size: vars.rem(16);
		}
	}
}
