@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	max-height: 120vh;
	height: 100vh;
	line-height: 1.5;
	font-family: 'Manrope', sans-serif;
	position: relative;
}
a,
a:visited,
a:focus {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.bg-abs {
	background: url('../images/bg-pattern.svg') left center/cover no-repeat;
	// background: red;
	width: 100%;
	height: 60%;
	position: absolute;
	z-index: -1;
	top: 0;
}
