<script>
	export let value;
	export let isYearly;
	let price;
	let previousPrice;

	$: {
		switch (value) {
			case 1:
				price = 8;
				break;
			case 2:
				price = 12;
				break;
			case 3:
				price = 16;
				break;
			case 4:
				price = 24;
				break;

			default:
				price = 36;
				break;
		}

		previousPrice = price;
		if (isYearly) {
			price -= (price * 25) / 100;
			price *= 12;
		} else {
			price = previousPrice;
		}
	}
</script>

<p class="price">
	<span>
		{price.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}
	</span>
	<span>/ {isYearly ? 'year' : 'month'}</span>
</p>
