<script>
	import Views from '../components/Views.svelte';
	import Price from '../components/Price.svelte';
	let value = 1;

	let isYearly = false;
</script>

<div class="pricer">
	<div>
		<Views {value} />
		{#key isYearly}
			<Price {value} {isYearly} />
		{/key}
		<input type="range" min="1" max="5" bind:value />
	</div>
	<div class="range">
		<span>Monthly Billing</span>
		<input type="checkbox" name="yearly" id="yearly" bind:checked={isYearly} />
		<label for="yearly" />
		<span>Yearly Billing</span>
	</div>
	<hr />
	<div class="specs">
		<ul>
			<li>
				<div class="check" />
				Unlimited websites
			</li>
			<li>
				<div class="check" />
				100% data ownership
			</li>
			<li>
				<div class="check" />
				Email reports
			</li>
		</ul>
		<button>Start my trial</button>
	</div>
</div>
