<script>
	export let value;
	let views;

	$: {
		switch (value) {
			case 1:
				views = 10000;
				break;
			case 2:
				views = 50000;
				break;
			case 3:
				views = 100000;
				break;
			case 4:
				views = 500000;
				break;

			default:
				views = 1000000;
				break;
		}
	}

	function numFormatter(num) {
		if (num > 999 && num < 1000000) {
			return num / 1000 + 'K'; // convert to K for number from > 1000 < 1 million
		} else if (num >= 1000000) {
			return num / 1000000 + 'M'; // convert to M for number from > 1 million
		} else if (num < 900) {
			return num; // if value < 1000, nothing to do
		}
	}
</script>

<p class="pricer_title">
	{#if views}
		{numFormatter(views)} Pageviews
	{:else}
		Hello World
	{/if}
</p>
