@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
.title, .pricer, .pricer > div:first-child, .pricer > div:first-child .price, .pricer .range, .pricer .range::after, .pricer .specs, .container {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-height: 120vh;
  height: 100vh;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  position: relative;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-abs {
  background: url("../images/bg-pattern.svg") left center/cover no-repeat;
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.container, .title, .pricer, .pricer > div:first-child, .pricer > div:first-child .price, .pricer .range, .pricer .range::after, .pricer .specs {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-height: 120vh;
  height: 100vh;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  position: relative;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bg-abs {
  background: url("../images/bg-pattern.svg") left center/cover no-repeat;
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.title {
  background: url("../images/pattern-circles.svg") center center/contain no-repeat;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  min-width: 21.25rem;
  margin: 4.0625rem auto;
  height: 7.5rem;
  text-align: center;
}
.title_main {
  font-size: 2.1875rem;
}
@media only screen and (max-width: 479px) {
  .title_main {
    font-size: 1.375rem;
  }
}
.title_content {
  width: 65%;
  color: #858fad;
  font-size: 1.125rem;
}
@media only screen and (max-width: 479px) {
  .title_content {
    font-size: 1rem;
  }
}

.pricer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  width: 70%;
  max-width: 40.625rem;
  min-width: 21.875rem;
  margin: 4.0625rem 0;
  padding: 2.5rem 1.875rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.pricer > * {
  width: 100%;
}
.pricer > div:first-child {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.pricer > div:first-child .pricer_title {
  width: 100%;
  color: #858fad;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.125rem;
}
.pricer > div:first-child input[type=range] {
  width: 100%;
  height: 0.3125rem;
  border-radius: 1.25rem;
  background: #cdd7ee;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 479px) {
  .pricer > div:first-child input[type=range] {
    order: 2;
  }
}
.pricer > div:first-child input[type=range]::-moz-range-progress {
  background: #10d5c2;
  height: 100%;
  border-radius: inherit;
}
.pricer > div:first-child input[type=range]::-moz-range-thumb {
  position: relative;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #10d5c2 url("../images/icon-slider.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.pricer > div:first-child *:not(input, span) {
  width: 50%;
  margin-bottom: 1.875rem;
  text-align: center;
}
.pricer > div:first-child .price {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (max-width: 559px) {
  .pricer > div:first-child .price {
    display: block;
    order: 3;
    width: 100%;
  }
}
.pricer > div:first-child .price span:first-child {
  font-size: 1.875rem;
  font-weight: 800;
}
.pricer > div:first-child .price span:last-child {
  color: #858fad;
}
.pricer .range {
  width: 79%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.pricer .range::after {
  content: "-25% Discount";
  position: absolute;
  right: 20%;
  width: fit-content;
  padding: 0 0.625rem;
  height: 1.875rem;
  font-size: 0.75rem;
  border-radius: 2.1875rem;
  background: #feeae9;
  color: #ff8c66;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translateX(110%);
}
@media only screen and (max-width: 559px) {
  .pricer .range::after {
    content: "-25%";
    right: 0;
  }
}
.pricer .range span {
  color: #858fad;
}
@media only screen and (max-width: 559px) {
  .pricer .range span {
    font-size: 0.75rem;
  }
}
.pricer .range label {
  display: block;
  width: 3.125rem;
  height: 1.5625rem;
  border-radius: 2.5rem;
  background: #cdd7ee;
  position: relative;
  cursor: pointer;
  margin: 0 0.625rem;
}
.pricer .range label::after {
  content: "";
  position: absolute;
  width: 1.125rem;
  border-radius: 50%;
  top: 50%;
  left: 0.9375rem;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  background: white;
  transition: 0.5s;
}
.pricer .range input {
  display: none;
}
.pricer .range input:checked ~ label::after {
  left: calc(100% - 0.9375rem);
}
.pricer hr {
  margin: 3.125rem 0;
  color: #cdd7ee;
}
.pricer .specs {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 559px) {
  .pricer .specs {
    justify-content: center;
    flex-direction: column;
  }
}
.pricer .specs ul li {
  margin-bottom: 0.625rem;
  color: #858fad;
}
@media only screen and (max-width: 559px) {
  .pricer .specs ul li {
    text-align: center;
  }
}
.pricer .specs ul li .check {
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.625rem;
  display: inline-block;
  background: url("../images/icon-check.svg") center center/contain no-repeat;
}
.pricer .specs button {
  padding: 0.9375rem 3.125rem;
  border-radius: 5.625rem;
  cursor: pointer;
  color: #bdccff;
  background: #293356;
  border: none;
  font-size: 0.875rem;
}
@media only screen and (max-width: 559px) {
  .pricer .specs button {
    margin-top: 3.125rem;
  }
}

.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
